script(src='http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
script(src=assets+'/js/bootstrap.js')
script(src=assets+'/js/underscore.js')
script(src='http://cdn.bootcss.com/echarts/3.5.4/echarts.min.js')
script(src=assets+'/js/echarts-3.5.1/shine.js')
script(src=assets+'/js/navBar.js')
script(src=assets+'/js/fund.js')
script(src=assets+'/js/wealth.js')
